/* Class */

.list_img{
    height: 350px;
}

.headliner{
    color: #E1624F;
    font-weight: bold;
}

.historia{
    color: #0C51A7;
}

/* Structure */

body{
    background-color: #F5F4F0;
    box-sizing: border-box;
}

#page{
    width: 1120px;
    margin: 88px auto;
    font-family: "Open Sans", sans-serif;
}


header{
    margin-bottom: 40px;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 32px;
}

aside{
    margin-bottom: 40px;
    text-align: center;
}

aside p{
    margin-top: 24px;
}

/* Main */

#box_title{
    margin: 64px 0;
}

#box-title p{
    margin-top: 8px;
}

#list{
    margin-bottom: 40px;
}

ol{
    border: black solid 1px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

ol li{
    margin-left: 35px;
    font-weight: bold;
    font-size: 28px;
}

ul{
    padding-left: 0;
    font-weight: bold;
}

ul li{
    margin-left: 20px;
    font-size: 16px;
}

/* Images */

img {
    width: 100%;
    border-radius: 28px;
}



#heart{
    width: 14px;
}