body{
    background-color: #F5F4F0;
    box-sizing: border-box;
}

#page{
    width: 1120px;
    margin: 88px 80px;
    font-family: "Open Sans", sans-serif;

}

img {
    width: 100%;
    border-radius: 28px;
}

.list_img{
    height: 350px;
}

#heart{
    width: 14px;
}