/* Structure */

body{
    background-color: #F5F4F0;
    box-sizing: border-box;
}

#page{
    width: 1120px;
    margin: 88px auto;
    font-family: "Open Sans", sans-serif;
}


/* Header */

header{
    margin-bottom: 40px;
}

.headliner{
    color: #E1624F;
    font-weight: bold;
}

h1{
    font-size: 36px;
}

/* Intro */

aside{
    margin-bottom: 40px;
    text-align: center;
}

aside p{
    margin-top: 24px;
}

/* Main */

/* Titulo */
#box_title{
    margin: 64px 0;
}

#box-title p{
    margin-top: 8px;
}

h2{
    font-size: 32px;
}

/* Lista de Destinos */

#list{
    margin-bottom: 40px;
}

ol{
    padding-left: 0;
}


ol li{
    margin-left: 35px;
    font-weight: bold;
    font-size: 28px;
}

/* Topics */

.topics{
    font-weight: bold;
}

.historia{
    color: #0C51A7;
}

#casais{
    color: #591B98;
}

#fam{
    color: #E5245E;
}

#money{
    color: #E95E10;
}

/* Images */

img {
    width: 100%;
    border-radius: 28px;
}

.list_img{
    height: 350px;
}

#heart{
    width: 14px;
}


/* Footer */